body{
    margin: 0;
}

h1 {
  font-family: "Google Sans";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "GRAD" 200;
  color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
  position: relative;
  background: linear-gradient(45deg, #0F172A 0%, #2563EB 69%, #38BDF8 100%);
  background-size: 200% 200%;
  animation: gradient-shift 8s ease alternate infinite;
  overflow: hidden;
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}