body{
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

h1, p {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  color: white;
  margin-left: 10px;
}

p{
    
}


header{
  position: relative;
  background: linear-gradient(45deg, #0F172A 51%, #2563EB 99%, #38BDF8 100%);
}
